* { 
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

.wrapper { 
    height: 100vh;
}

.box { 
    width: 100%; 
    border: 1px solid #000;
    border-radius: 4px;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.card-box {
    margin-top: 40px;
}

.box__input { 
    max-width: 770px;
}

.left-block { 
    padding: 20px 0px 0px 15px;
    min-width: 767px;
}

.right-block {
    flex: 1;
    border-left: 1px solid #000;
    padding-top: 20px;
}
